<section class="cabservies">
  <div class="container cabservies__container">
    <h4 class="cabservies__title"><a href="#" class="cabservies__title--link"><span>Download</span></a><br>Best cab servies</h4>
    <div class="cabservies__content">
      <div class="cabservies-content">
        <h6 class="cabservies-content__title">
          Downlaod the Cab voucher app free! <br>Get Exciting New Offers
        </h6>
        <p class="cabservies-content__description">
          Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
        </p>
        <div class="cabservies-content__buttons cabservies-button">
          <a href="https://play.google.com/store?hl=ru&gl=US" target="_blank" class="cabservies__button cabservies-button--google">
            <img src="../img/Download_google_play.png" alt="Google play">
          </a>
          <a href="https://www.apple.com/ru/app-store/" target="_blank" class="cabservies__button cabservies-button--app">
            <img src="../img/Download_app_store.png" alt="App store">
          </a>
        </div>
      </div>
      <div class="cabservies__image"><img src="../img/Download_img.png" alt="Best cab servies"></div>
    </div>
  </div>
</section>
