<section class="clients">
  <div class="container clients__container">
    <h4 class="clients__title"><span>Happy client's</span><br>Testimonials</h4>
    <div class="clients__messages">
      <div class="clients-message">
        <p class="clients-message__description">
          Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.Quisque sollicitudin feugiat risus.
        </p>
        <div class="clients-message__info message-info">
          <div class="message-info__avatar"><img src="../img/John_doe.png" alt="Avatar"></div>
          <div class="message-info__client">
            <h6><a href="#" class="message-info__client--name">John Doe</a></h6>
            <span class="message-info__client--status">Business Man</span>
          </div>
        </div>
      </div>
      <div class="clients-message">
        <p class="clients-message__description">
          Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.Quisque sollicitudin feugiat risus.
        </p>
        <div class="clients-message__info message-info">
          <div class="message-info__avatar"><img src="../img/John_doe.png" alt="Avatar"></div>
          <div class="message-info__client">
            <h6><a href="#" class="message-info__client--name">John Doe</a></h6>
            <span class="message-info__client--status">Business Man</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
