<section class="dobest">
  <div class="container dobest__container">
    <h4 class="dobest__title"><span>We do best</span><br>Than you wish</h4>
    <ul class="dobest__list">
      <li class="dobest__item">
        <div class="dobest__image"><i class="fas fa-star"></i></div>
        <div class="dobest__item--content item-content">
          <h6><a href="#" class="item-content__title">Home pickup</a></h6>
          <p class="item-content__description">
            Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
          </p>
        </div>
      </li>
      <li class="dobest__item">
        <div class="dobest__image"><i class="far fa-hourglass-end"></i></div>
        <div class="dobest__item--content item-content">
          <h6><a href="#" class="item-content__title">Fast booking</a></h6>
          <p class="item-content__description">
            Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
          </p>
        </div>
      </li>
      <li class="dobest__item">
        <div class="dobest__image"><i class="fab fa-fort-awesome"></i></div>
        <div class="dobest__item--content item-content">
          <h6><a href="#" class="item-content__title">Bonuses for ride</a></h6>
          <p class="item-content__description">
            Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
          </p>
        </div>
      </li>
      <li class="dobest__item">
        <div class="dobest__image"><i class="fas fa-cog"></i></div>
        <div class="dobest__item--content item-content">
          <h6><a href="#" class="item-content__title">GPS searching</a></h6>
          <p class="item-content__description">
            Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
          </p>
        </div>
      </li>
    </ul>
    <button class="dobest__button btn-read btn-reset">Read more</button>
  </div>
</section>
