<footer class="footer">
  <div class="container footer__container">
    <ul class="footer__columns">
      <li class="footer__column">
        <h4 class="footer__title"><a href="#" class="footer__title--link">About cab Hub</a></h4>
        <div class="bottom__content--about">
          <p class="footer__description">
            Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.Quisque sollicitudin feugiat risus, eu posuere ex euismod eu.
          </p>
          <div class="footer__social">
            <a href="#" class="social__icon social__icon--fb"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social__icon social__icon--google"><i class="fab fa-google-plus"></i></a>
            <a href="#" class="social__icon social__icon--tw"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social__icon social__icon--insta"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </li>
      <li class="footer__column">
        <h4 class="footer__title"><a href="#" class="footer__title--link">Download</a></h4>
        <div class="bottom__content--download">
          <p class="footer__description">
            Quisque sollicitudin feugiat risus, euposuere ex euismod eu. Phasellus hendrerit
          </p>
          <div class="footer__social--users">
            <div class="social-users">
              <a href="#" class="social-users__link social-users__link--android"><span>Android Users</span><i class="fab fa-android"></i></a>
              <a href="#" class="social-users__link social-users__link--ios"><span>IOS Users</span><i class="fab fa-apple"></i></a>
            </div>
          </div>
        </div>
      </li>
      <li class="footer__column">
        <h4 class="footer__title"><a href="#" class="footer__title--link">Contact</a></h4>
        <ul class="footer-contact">
          <li class="footer-contact__item footer-contact__item--geo">
            <a href="#" class="footer-contact__link"><i class="fab fa-map-marker"></i><span class="footer-contact__content">+123, Main Street, Your City, New York, USA 789456</span></a>
          </li>
          <li class="footer-contact__item footer-contact__item--tel">
            <a href="tel:+123 4567 8900" class="footer-contact__link"><i class="fab fa-mobile"></i><span class="footer-contact__content">+123 4567 8900</span></a>
          </li>
          <li class="footer-contact__item footer-contact__item--mail">
            <a href="#" class="footer-contact__link"><i class="fab fa-envelope"></i><span class="footer-contact__content">free@psdfreebies.com</span></a>
          </li>
          <li class="footer-contact__item footer-contact__item--selflink">
            <a href="#" class="footer-contact__link"><i class="fab fa-mouse-pointer"></i><span class="footer-contact__content">www.psdfreebies.com</span></a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="footer__copy">Copyright © 2015 PSDfreebies.com</div>
  </div>
</footer>
