<header class="header">
  <div class="header__container">
    <div class="logo header__logo">
      <a href="/" class="logo__link" tabindex="1">
        <img src="../img/Logo_hero.png" class="logo__img" alt="header logo">
      </a>
      <span class="logo__subtitle">Call And Relex</span>
    </div>
    <button class="header-burger btn-reset"><i class="fab fa-bars"></i></button>
    <nav class="header__nav">
      <ul class="nav-list">
        <li class="nav-list__item nav-list__item--current"><a href="#" class="nav-list__link nav-list__link--current" tabindex="2">Home</a></li>
        <li class="nav-list__item"><a href="#" class="nav-list__link" tabindex="3">About</a></li>
        <li class="nav-list__item"><a href="#" class="nav-list__link" tabindex="4">Features</a></li>
        <li class="nav-list__item"><a href="#" class="nav-list__link" tabindex="5">Blog</a></li>
        <li class="nav-list__item"><a href="#" class="nav-list__link" tabindex="6">Order Now</a></li>
        <li class="nav-list__item"><a href="#" class="nav-list__link" tabindex="7">Contacts</a></li>
      </ul>
      <button class="header-btn-close btn-reset" tabindex="8"><i class="fab fa-times"></i></button>
    </nav>

  </div>
</header>
