<section class="second">
  <div class="container second__container">
    <div class="second__content">
      <div class="second__content-left content-left">
        <h4 class="content-left__subtitle">Best in city</h4>
        <h2 class="content-left__title">Trusted cab servies in New York</h2>
        <p class="content-left__description">
          Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a mauris.Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur dapibus pulvinar, sapien eros sodales ante, euismod aliquet nulla metus a mauris.
        </p>
        <button class="content-left__button btn-read btn-reset">Read more</button>
      </div>
      <form action="#" class="second__form second-form">
        <h4 class="second-form__title">Book a <span>cab</span></h4>
        <div class="second-form__inputs">
          <label class="second-form__field">
            <input type="email" required placeholder="Name">
          </label>
          <label class="second-form__field">
            <input type="tel" required placeholder="Phone">
          </label>
          <label class="second-form__field">
            <input type="text" required placeholder="When">
          </label>
          <label class="second-form__field">
            <input type="text" required placeholder="Time">
          </label>
          <label class="second-form__field">
            <input type="text" required placeholder="Start">
          </label>
          <label class="second-form__field">
            <input type="text" required placeholder="End">
          </label>
          <label class="second-form__field">
            <input type="text" required placeholder="Choose Vehicle">
          </label>
        </div>
        <button class="second-form__button btn-read btn-reset">Submit</button>
      </form>
    </div>

  </div>
</section>
