<section class="tariffs">
  <div class="container tariffs__container">
    <h4 class="tariffs__title"><span>Our</span><br>Tariffs</h4>
    <div class="tariffs__cards tariffs-cards">
      <div class="tariffs__card tariffs-card">
        <div class="tariffs-card--top">
          <div class="tariffs-card__image"><img src="../img/Car_taxi.png" alt="taxi car"></div>
        </div>
        <div>
          <a href="#" class="tariffs-card--bottom">
            <h5 class="tariffs-card__title">Economy class</h5>
            <p class="tariffs-card__description">
              Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
            </p>
            <h4 class="tariffs-card__price">$1,5/Mi</h4>
            <button class="tariffs-card__button btn-read btn-reset">Read more</button>
            <div class="tariffs-card__triangle"><img src="../img/card_triangle.png" alt=""><i class="fas fa-star"></i></div>
          </a>
        </div>
      </div>
      <div class="tariffs__card tariffs-card">
        <div class="tariffs-card--top">
          <div class="tariffs-card__image"><img src="../img/Car_taxi.png" alt="taxi car"></div>
        </div>
        <div>
          <a href="#" class="tariffs-card--bottom tariffs-card--bottom--current">
            <h5 class="tariffs-card__title">Economy class</h5>
            <p class="tariffs-card__description">
              Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
            </p>
            <h4 class="tariffs-card__price">$1,5/Mi</h4>
            <button class="tariffs-card__button btn-read btn-reset">Read more</button>
            <div class="tariffs-card__triangle"><img src="../img/card_triangle.png" alt=""><i class="fas fa-star"></i></div>
          </a>
        </div>
      </div>
      <div class="tariffs__card tariffs-card">
        <div class="tariffs-card--top">
          <div class="tariffs-card__image"><img src="../img/Car_taxi.png" alt="taxi car"></div>
        </div>
        <div>
          <a href="#" class="tariffs-card--bottom">
            <h5 class="tariffs-card__title">Economy class</h5>
            <p class="tariffs-card__description">
              Quisque sollicitudin feugiat risus, eu posuere ex euismod eu. Phasellus hendrerit, massa efficitur.
            </p>
            <h4 class="tariffs-card__price">$1,5/Mi</h4>
            <button class="tariffs-card__button btn-read btn-reset">Read more</button>
            <div class="tariffs-card__triangle"><img src="../img/card_triangle.png" alt=""><i class="fas fa-star"></i></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
